$first : #B9121B;
$second : #4c1b1b;
$mid : #f6e497;
$slast : #fcfae1;
$last : #bd8d46;
$tablet-width: 768px;
$desktop-width: 1024px;
$share-width: 990px;

@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css");

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: 768px) {
    @content;
  }
}

body {
  margin: 0;
  padding: 0;
  background-color: $first;
}

* {
  box-sizing: border-box;
}

div#app {
  width: 100%;
  min-height: 100vh;
  color: $slast;
  margin: 0;
}

div#content {
  width: 100%;
  padding-top: 40px;
  font-family: 'Open Sans', sans-serif;
  max-width: 768px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @include mobile {
    padding: 40px 15px;
  }


  @include tablet {
    padding: 40px 15px;
  }
  
  div#top_header {;
    font-size: 3rem;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    
    div#line {
      font-size: 1.5rem;
      display: flex;
      margin-top: 20px;
      justify-content: center;
      text-align: center;
      text-transform: none;
    }
    
    div#tag_line {
      display: flex;
      justify-content: center;
      text-align: center;
    }
    div#icons {
      display: flex;
      justify-content: center;
      i {
        margin: 10px;
      }
    }
  }
  div#search {
    display: flex;
    width: 100%;
    margin-top: 50px;
    
    form {
      display: flex;
      width: 100%;
      justify-content: space-around;
    }
    
    .design {
        width: 100%;
        background-color: $first;
        color: $slast;
        padding: 5px;
        border: 1px solid #fcfae1;
        border-radius: 5px;
        font-size: 1.3rem;
    }
    
    div#input_place {
      width: 70%;
    }
    div#place_search {
      width: 15%;
      button {
        cursor: pointer;
      }
    }
    
  }
  
}

div#searchresults {
  margin-top: 20px;
  div.result {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    border-radius: 5px;
    &:hover {
      border: 1px solid whitesmoke;
    }
    div {
      display: flex;
      padding: 8px;
      align-items: center;
      justify-content: center;
      &.info {
        display: flex;
        flex-direction: column;
        width: 70%;
        div.name {
          padding: 0;
          display: flex;
          align-self: flex-start;
          font-weight: 600;
          justify-content: flex-start;
          a {
            text-decoration: none;
            color: white;
          }
        }
      }
      
      &.photo {
        width: 15%;
      }
      
      &.going {
        display: flex;
        flex-direction: column;
        width: 15%;
        text-transform: uppercase;
        cursor: pointer;
        div.stat {
          display: flex;
          justify-content: center;
          text-align: center;
        }
        span {
          padding-right: 5px;
        }
        &:hover {
          border-bottom: 1px solid whitesmoke;
          border-left: 1px solid whitesmoke;
          border-left-width: thick;
        }
      }
      p {
        margin: 0;
      }
    }
    img {
      border-radius: 10px;
    }
  } 
}